/* navber css propatey */

.container-fluid {
    --bs-border-opacity: 5;
    /* border-color: rgba(rgba(138, 206, 245, 0.11)) !important; */
    color: white;
    border-radius: 9px;
  }

.container-fluid{
    /* background-color: antiquewhite; */
    height: 70px;
    margin: 0;
    padding: 10px;
    background: rgba( 268, 270, 267, 0.0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: white;
}

.navbar-brand{
    font-size: 35px;
    font-weight: 800;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.navbar-nav{
    margin-left: 80px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    font-family: 'Nunito', sans-serif;
    --bs-nav-link-hover-color: rgb(239 96 106);
}
.dropdown-menu{
  background-color: #1f1f47;
}
.navbar-nav li a{
    color: white;
    font-family: 'Nunito', sans-serif;
}
.navbar-nav .nav-link.active{
  color: rgb(239 96 106);
}
/* all button style */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* *:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
} */

/* html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
} */

.wrapper {
  display: inline-flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  place-items: center;
}
.wrapperSL {
  display: inline-flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  place-items: center;
}

.wrapper .icon {
  position: relative;
  background: #8a8aad;
  border-radius: 28%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 7px;
  color: black;
}
.wrapperSL .icon {
  position: relative;
  background: #8a8aad;
  border-radius: 28%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 7px;
  color: black;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: transparent;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 40px;
}
.wrapperSL .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: transparent;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 40px;
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapperSL .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapperSL .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(241, 235, 235, 0.1);
}
.wrapperSL .icon:hover span,
.wrapperSL .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(241, 235, 235, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}
.wrapperSL .youtube:hover,
.wrapperSL .youtube:hover .tooltip,
.wrapperSL .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

